@{
    ViewBag.Title = "Ayuda";
}
<h2 style="text-align:center">@ViewBag.Title.</h2>


<!-- Agregar el enlace al archivo PDF aquí -->
<div class="col-md-12" style="text-align:center">
    <a href="@ViewBag.PdfPath" target="_blank"><img src="@ViewBag.IconPath" alt="Manual de usuario" style="width: 20px; height: 20px; vertical-align: middle;" /> Manual de usuario</a>
</div>